@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700&subset=latin-ext');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Work sans", Arial;
    color: white;
}

ol {
    list-style-type: none;
    padding: 0;
}

ol li {
    display: inline;
}

.logocska {
    /* position: absolute;
    margin-top: 20px;
    margin-left: 20px; */
    width: 100px;
    z-index: 100;
}

a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.cim {
    font-size: 50px;
    font-weight: 300;
}

.vkozepre {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}

.vfkozepre {
    width: 100%;
    position: absolute;
    top: 0%;
    margin-bottom: 0%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

.lablec {
    font-family: Arial;
    position: absolute;
    bottom: 0;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: center;
}

.lablec a {
    margin: 0px 10px;
    text-decoration: none;
}

/* .lablec a:hover {
    color: rgb(203, 203, 203);
    transition-duration: 0.5s;
} */

.gombdoboz {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: table;
    background: rgba(0, 0, 0, 0.5);
}

.gombdoboz a {
    margin: 0px 10px -10px 10px;
    display: inline-block;
}

.gomb {
    padding: 12px;
    width: 165px;
    font-family: Arial;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
    height: 18px;
    border: 1px solid transparent;
}

.gomb:hover {
    transition-duration: 0.5s;
    color: white;
}

.fullscreen-bg {
    overflow: hidden;
    z-index: -100;
    background: url('/img/e6c32672/cbg.PNG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#year {
    margin: 0 10px 0 0;
}



@media (max-width: 767px) {

    .fullscreen-bg__video {
        display: none;
    }
    .logocska {
        display: none;
    }
    .hideonmobile {
        display: none;
    }
    #headerbox { 
        font-size: 12px;
        width: 100%;
    }

    ol {
        padding: 0px;
    }

    #headerbox a {
        text-align: center;
    }

    .cim {
        font-size: 35px;
    }
    
    .lablec {
        margin-left: 5px;
    }
    #conference {
    margin-top: 12px;
    }

    .gombdoboz {
    margin-top: 8px;
    }
}

@media (max-width: 340px) {
    .lablec {
        font-size: 12px;
    }
}

@media (max-height: 450px) {
    #headerbox {
        display: none;
    }
    .lablec {
        display: none;
    }
    .hirlev {
        margin-top: 20px;
    }
}